{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% if attributes['type'] == 'hidden' and attributes['title'] %}
  <b>{{ attributes['title'] }}</b>
{% endif %}

{# Static contact widget with no contact id loaded on the webform. #}
{% if attributes['cid'] is empty %}
  <ul class="token-input-list">
    <li class="token-input-token">
      {% if attributes['value'] is empty and attributes['type'] == 'hidden' and attributes['data-civicrm-name'] %}
        <p>{{attributes['data-civicrm-name']}}</p>
      {% endif %}
      <input{{ attributes }} />{{ children }}
    </li>
  </ul>
{% else %}
  <input{{ attributes }} />{{ children }}
{% endif %}
